# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
server
client

# VS Code files
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# Certs and keys for testing purpose
certs/client.crt
certs/client.csr
certs/rootCA.crt
certs/rootCA.srl
certs/server.crt
certs/server.csr
keys/client.key
keys/rootCA.key
keys/server.key
